# Core Django and Server
Django==4.2
gunicorn
python-dotenv
psycopg2-binary
dj-database-url
whitenoise[brotli]

# AI and Image Processing
torch==2.0.0
torchvision==0.15.1
segment-anything==1.0
opencv-python==4.7.0.72
Pillow==9.5.0